:root {
  --main-bg-color: slategray;
  --heading-color: steelblue;
  --structure-color: rgb(5, 80, 98);
}

* {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* This tag isn't working for some reason */
body {
  background-color: var(--main-bg-color);
}

h1,
h2,
h3 {
  color: var(--heading-color);
  padding-left: 1rem;
}

h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

h2 {
  font-size: 2rem;
  margin: .75rem 0
}

h3 {
  font-size: 1.5rem;
  margin: .5rem 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  max-height: 300px;
  border-radius: 40px;
}

/* This doesn't apply Background Color */
/* .frame {
  background-color: var(--main-bg-color);
  width: fit-content;
} */

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid var(--heading-color);
  padding: 1rem;
  background-color: var(--structure-color);
  width: 100%;
}

#nav-bar a {
  color: green;
  background-color: var(--structure-color);
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* This does nothing. Why??!? */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add Hover State for all cards */

.card-main {
  width: 100%
}

.card-main img {
  width: 100%
}

.card-small {
  width: 50%;
}

.card-small img {
  width: 50%
}