:root {
  --main-bg-color: slategray;
  --heading-color: steelblue;
  --structure-color: rgb(5, 80, 98);
  --light-blue-text: rgb(68, 173, 173);
  --light-green-text: rgb(10, 135, 98);
}

* {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* required to allow responsive layout */
#whole-site {
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: var(--heading-color);
  padding-left: 1rem;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0 50% .5rem 0;
  background-color: var(--structure-color);
  padding: 1rem;
  border-radius: 0 0 40px 40px;
}

h3 {
  font-size: 1.5rem;
  margin: .5rem 0;
  font-weight: 00;
  padding: 1rem 0 0 1.5rem;
  background: none;
}

h4 {
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: .25 .25;
  padding: 1rem;
  text-decoration: none
}

p {
  margin: 1rem 2rem;
  color: var(--light-green-text);
}

/* centered for mobile first */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* scales photo down for website and rounds edges */
header img {
  max-height: 300px;
  margin-top: 1rem;
  border-radius: 40px;
}

/* centered for mobile first */
#nav-bar {
  display: flex;
  justify-content: center;
  border: solid var(--heading-color);
  padding: 1rem;
  background-color: var(--structure-color);
  width: 100%;
  position: relative;
}

/* sets colors and spacing for links */
#nav-bar a {
  color: var(--light-blue-text);
  background-color: var(--structure-color);
  padding-inline: 1rem;
}

/* shows which link the cursor is over */
#nav-bar a:hover {
  color: var(--light-green-text);
}

#download-me span {
  display: none
}

#download-me:hover span {
  display: block;
  position: absolute;
  bottom: 80%;
  background-color: var(--heading-color);
  color: var(--structure-color);
  border-radius: 40px;
  border-color: var(--structure-color);
  padding: 1rem;
  text-align: center;
}

/* organizes project cards for layout */
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

/* styles link for project card */
.projects a {
  max-width: 100%;
  text-decoration: none;
  /* color: var(--); */
}

/* styles all prokect cards */
.card {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: solid;
  border-color: var(--structure-color);
  border-width: 5px;
  border-radius: 40px;
  position: relative;
  background-color: var(--heading-color);
  box-sizing: border-box;
  margin-bottom: 5px;
  
}

/* highlights which card the cursor is on */
.card:hover {
  border-color: midnightblue;
}

/* places header in specific portion of card */
.card h4 {
  position: absolute;
  background-color: var(--structure-color);
  bottom: 20%;
  max-width: 125px;
  border-radius: 0 40px 40px 0;
}

/* sets main card size */
.card-main {
  width: 100%
}

/* limits card image size and removes whitespace */
.card img {
  width: 100%;
  background: none;
}

/* sets small card size */
.card-small {
  flex: 0 0 50%;
}

/* lays out aside column */
aside {
  display: flex;
  flex-direction: column;
  position: relative;
  top: auto; 
}

/* sets background color for About Me Section */
.about-me,
.about-me h3,
.about-me p,
.about-me i {
  background-color: var(--structure-color);
}

/* adds space and border for About Me */
.about-me {
  padding-bottom: 1rem;
  border-radius: 40px;
}

/* attaches about me to header without space */
.about-me h3 {
  margin-top: 0;
}

/* makes span italic */
.about-me p span {
  font-style: italic;
}

/* Styles Contact Me Form */
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  border: 1rem;
  border-style: inset;
  border-radius: 40px 40px 20px 20px;
  border-color: var(--structure-color);
  margin: 1rem;
  /* max-width: fit-content; */
}

.form p {
  padding: .25rem 0 .25rem 1rem;
}

.form textarea {
  width: 100%;
  height: 200px;
}

.form button {
  position: relative;
  left: 80%;
  bottom: 0px;
  margin-bottom: 1rem;
}

/* Creates responsive layout for midsize screens */
@media screen and (min-width: 768px) {
  header {
    display: block;
    position: relative;
  }

  header img {
    margin: .5rem 0 .25rem 1rem;
  }

  header h1 {
    position: absolute;
    bottom: 43px;
    left: 250px;
    /* transform: translate(-350px, 45px); */
    background: none;
  }

  #nav-bar {
    justify-content: flex-end;
    width: auto;
  }
}

/* Media Break for large size screens */
@media screen and (min-width: 992px) {
   main {
    position: absolute;
    width: auto;
    left: 475px;
    margin: 0 1rem .25rem 1rem;
  }

  aside {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    max-width: 475px;
    top: 20;
  }

  .about-me {
    width: 100%;
  }
}

/* Adds margins if site is getting too large */
@media screen and (min-width: 1010px) {

  body {
    display: flex;
    flex-direction: column;
    max-width: 1005px;
    margin: 0 auto;
  }

}